<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<h1>请上传图片文件</h1>
<form action="" method=post enctype=multipart/form-data>
    <table>
        <tr><td>左上角文件：<input type=file name=file1></td>
            <td>右上角文件：<input type=file name=file2></td>
        </tr>
        <tr>
        <td>左下角文件：<input type=file name=file3></td>
        <td>右下角文件：<input type=file name=file4></td>
        </tr>
    </table>

    <!--<input id="files" type="file" name="file" multiple="multiple">--></p>
    <input type=submit value=Upload>
</form>